/* #caixa {
	width: 300px;
	height: 300px;
	background: orange;
}

#caixa:hover {
	width: 500px;
	background: yellow;
	/* transition: width 3s, background 3s; */
	/* transition: all 3s;
} */
	

/* Border Radius e Box Sizing */
/*
#caixa{
	width: 400px;
	height: 400px;
	background-image: url(../Imagens/perfil.jpg);
	padding: 50px;
	margin: 10px; 				/* Comando como "Webkit e Moz São para passar de navegador para navegador sempre importante criar como no exemplo a baixo"*/ /*.APAGAR AQUI.
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 200px;

}

#caixa2 {
	width: 300px;
	height: 300px;
	background: #b9c941;	
	margin: 10px;
	-webkit-border-radius: 20px 90px ;
	-moz-border-radius: 20px 90px ;
	border-radius: 20px 90px;
}

h1, p {
	color:#ffffff;
} .APAGAR AQUI. */ 
 
 /* Degradês & Transparências */ 

/*APAGAR AQUI. #caixa{
 	width: 400px;
	height: 300px; APAGAR AQUI.*/
	/*APAGAR AQUI.background: url(../Imagens/camera.png); APAGAR AQUI.*/      /* Usa o Caixa de baixo para simular o efeito de tranparencia*/
	/*APAGAR AQUI.background: linear-gradient(to right, red, blueviolet , green); APAGAR AQUI.*/  /* Efeito dregade padrão */
   /*APAGAR AQUI.background: radial-gradient(green, red, blue); APAGAR AQUI.*/ /*Efeito degrade de dentro para fora*/
/* } 
/*APAGAR AQUI.
 #caixa h1 {
 	/*background: rgba(255, 255, 255 , 0.8);
 }APAGAR AQUI.*/



/* Sombras */ 

/* .APAGAR AQUI. #caixa {
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.6); /* Primeiro "20px" movimenta a horisontal o outro movimenta a vertical,
	 valores negativos faz o efeito faz o efeito ao contrario. o ultimo 10px faz um efeito de blur */ /* .APAGAR AQUI.
} .APAGAR AQUI. */

 /*.APAGAR AQUI.  #caixa h1{
	color: white;
	/* text-shadow: 20px 20px #ccc; */
	/* APAGAR AQUI. text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.6);  /* Primeiro "20px" movimenta a horisontal o outro movimenta a vertical,
	 valores negativos faz o efeito faz o efeito ao contrario. o ultimo 10px faz um efeito de blur */ /*.APAGAR AQUI.
}
.APAGAR AQUI.*/

/* Animações */ 


/*.APAGAR AQUI. 
@keyframes animacao-caixa {
	from {
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: yellow;
		border-radius: 300px;
		top: 200px;
		left: 200px;
	}

}

#caixa {
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	animation-name: animacao-caixa;
	animation-duration: 2s;
	animation-delay: 0s;
	animation-iteration-count: 2;
	animation-direction: alternate; .APAGAR AQUI.*/

	/* animation: animacao-caixa 5s 3s 2 alternate; */ /* Da para resumir em um codigo*/ /*.APAGAR AQUI.

} .APAGAR AQUI.*/


/* Transições */ 


/*.APAGAR AQUI.
 #caixa {
	width: 300px;
	height: 300px;
	background: orange;
}

#caixa:hover {
	width: 500px;
	background: yellow;
	/* transition: width 3s, background 3s; */
	/* transition: all 3s;
} 

.APAGAR AQUI.*/


/* Novas tang.html*/ 
/*
header {
	border: 1px solid;
	background: #f2f2f2;
	padding: 10px;
}

nav {
	border: 1px solid green;
	background: #f2f2f2;
	padding: 10px;
}

footer{
	background: #f2f2f2;
}

*/