#caixa{
	width: 400px;
	height: 400px;
	background-image: url(../Imagens/perfil.jpg);
	padding: 50px;
	margin: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 200px;

}

#caixa2 {
	width: 300px;
	height: 300px;
	background: #b9c941;	
	margin: 10px;
	-webkit-border-radius: 20px 90px ;
	-moz-border-radius: 20px 90px ;
	border-radius: 20px 90px;*/
}

h1, p {
	color:#ffffff;
}
